<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
</head>
<body>
<h1 style="text-align:center">your cart</h1>
<button style="text-align:center">Pay Now</button>

{%for p in products%} 
  
   


<div class="card">
  <img src="{{url_for('static', filename=p.Picture_Link)}}" alt="{{p.name}}" style="width:100%">
  <h1>{{p.name}}</h1>
  <p class="price">{{p.price}}</p>
  <p>{{p.Description}}</p>
 
</div>
<h2 style="text-align:center">Product </h2>

<!--<div class="card">
  <img src="{{url_for('static',filename='tal.jpg')}}" alt="tal" style="width:100%">
  <h1>Tal</h1>
  <p class="price">$0.99</p>
  <p>cuties;)</p>
  <p><button>Add to Cart</button></p>
</div>-->
{%endfor%} 
</body>
</html>