<!DOCTYPE html>
<html>
<head>
	<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
	<title>shop</title>
</head>
<body>
	<h1>shop</h1>
<h2 style="text-align:center">Product Card</h2>

<div class="card">
  <img src="{{url_for('static',filename='one.jpg')}}" alt="Malak and Shiran" style="width:100%">
  <h1>Malak and Shiran</h1>
  <p class="price">$To much for you to pay</p>
  <p>cuties;)</p>
  <p><button>Add to Cart</button></p>
</div>
<h2 style="text-align:center">Product Card</h2>

<div class="card">
  <img src="{{url_for('static',filename='tal.jpg')}}" alt="tal" style="width:100%">
  <h1>Tal</h1>
  <p class="price">$0.99</p>
  <p>cuties;)</p>
  <p><button>Add to Cart</button></p>
</div>



</body>
</html>